body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.top-logo {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 9999;
}

.top-logo img {
    height: 50px;
}

.slide {
    width: 100vw;
    padding: 20px;
}

.slide-home {
    height: 80vh;
    background-color: #0074D9;
}

.slide-home img {
    fill: white;
}

.slide-tutorials {
    background-color: #666;
    color: white;
}

.slide-tutorials a {
    color: white;
}

.slide-open {
    background-color: #f9f9f9;
}

.slide-app {
    padding-top: 50px;
    padding-bottom: 50px;
}

.slide-docs {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #DDDDDD;
}

.slide-inprogress {
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px; 
}

.slide-footer {
    background-color: #333;
    color: white;
}

@media only screen and (min-width: 768px) {
    .slide-open .v-line {
        border-style: solid;
        border-width: 0;
        border-right-width: 1px;
        border-color: #ccc;
    }
}